#bli-medlem {
    height: 100vh;
    border: 1px solid black;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-color: rgb(221,  118, 49);
}

.container-bli-medlem {
    padding-top: 5vh;
}

.container-bli-medlem .bli-medlem-boks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem,  1fr) );
    gap: 10px;
    grid-gap: 10px;
    padding-left: 2rem;
    height: 60rem;
}

.bli-medlem-boks{
    padding: 5rem;
    padding-top: 10rem;
}

.bli-medlem-boks div {
    font-size: 2.5rem;
    border-radius: 1.5rem;
    padding-left: 1rem;
} 

.bli-medlem-boks .medlem {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 0.5rem;
    justify-content: center; 
    align-items: center;
    border: 0.3rem solid black;
    border-radius: 2rem;
    padding: 1.5rem;
}

.bli-medlem-boks img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
label {
    color: black;
    font-size: 3.5rem;
    font-family: 'Cabin', sans-serif;    
}

input[type=text],[type=tel],[type=email] {
    padding: 1rem;
    border-radius: 2rem;
    text-align: left;
    border: 0.2rem solid black;
    padding: 1rem;
    font-size: 2rem;
}

.medlem input:focus {
    background-color: orange;

}

.medlem button {
    border: 0.3rem solid white;
    height: 4rem;
    border-radius: 4rem;
    background-color: orange;
    cursor: pointer;
    font-size: 2rem;
}


